:root {
    /* CSS HEX from coolors.co*/
    --header-color: rgb(35 16 16);
    --seaweed-background: rgb(217 234 211);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, video {
    width: 100%;
    height: 100%;
}

body {
    height: 100vh;
    background-color: var(--seaweed-background);
    position: relative;
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

button {
    width: 50%;
    margin-top: 5px;
    cursor: pointer;
}

#nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

#nav-menu * li {
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--seaweed-background);
    font-size: 24px;
    font-weight: bold;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif
}

#nav-menu a {
    text-decoration: none;
}

.show {
    display: block;
}

.page-subheader {
    background-color: var(--header-color);
}

.page-subheader > h1 {
    width: fit-content;
    padding: 10px 15px;
    margin: 10px;
    background-color: var(--seaweed-background);
    border-radius: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#add-blog {
    width: 60%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--header-color);
    color: var(--seaweed-background);
}

#add-blog-button {
    height: 50px;
    width: 200px;
    padding: 15px;
    margin: 5px;
    background: green;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
}

#add-blog-button:hover {
    background: rgba(0, 128, 0, .8);
    cursor: pointer;
}

#add-blog-button:active {
    box-shadow: inset 2px 2px 4px white,
                inset -2px -2px 4px white;
}

.new-form {
    display: none;
    width: 90%;
    padding: 10px;
}

#new-blog-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#new-blog-form div {
    width: 100%;
}

#blog-title,
#blog-content {
    width: 100%;
    flex-grow: 1;
}

#bloglist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.blogpost {
    width: 60%;
    border: 1px solid green;
    margin: 20px;
}

.blogheader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: var(--header-color);
    color: var(--seaweed-background);
    cursor: pointer;
}

.blogheader h2 {
    width: fit-content;
    padding: 10px;
}

.blogheader div {
    width: fit-content;
    padding: 10px;
    font-style: italic;
}

.blogcontent {
    padding: 20px;
    color: black;
    font-weight: bolder;
}

.comment-container {
    margin: 20px;
    padding: 5px;
    background: var(--header-color);
    color: var(--seaweed-background);
    border: 2px solid var(--header-color);
}

.comment {
    margin-bottom: 15px;
    border: 1px solid var(--seaweed-background);

}

.comment-header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-body {
    padding: 5px;
    background: var(--seaweed-background);
    color: var(--header-color);
}

#add-comment-button {
    height: 25px;
    width: 100px;
    margin: 5px;
    background: green;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    white-space: nowrap;
    float: right;
}

#add-comment-button:hover {
    background: rgba(0, 128, 0, .8);
    cursor: pointer;
}

#add-comment-button:active {
    box-shadow: inset 2px 2px 4px white,
                inset -2px -2px 4px white;
}

footer {
    width: 100%;
    height: 10vh;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* util classes */

.hide {
    display: none;
}