:root {
    /* CSS HEX from coolors.co*/
    /* --header-color: rgb(35, 16, 16); */
    --header-color: #323232;
    --faded-header-color: rgb(35, 16, 16);
    --seaweed-background: rgb(193, 228, 240);
    --light-gray-background: rgb(235, 235, 235);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-width: 250px;
}

img, video {
    width: 100%;
    height: 100%;
}

body {
    height: 100vh;
    background-color: var(--seaweed-background);
    position: relative;
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--header-color);
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

button {
    width: 50%;
    margin-top: 5px;
    cursor: pointer;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    padding: 5px;
    font-family: 'Calibri'
}

#nav-menu {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

#nav-menu * li {
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-gray-background);
    font-size: 22px;
    font-weight: bold;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif
}

#nav-menu a {
    text-decoration: none;
}

#login-window,
#signup-window {
    height: 300px;
    width: 250px;
    margin: 20px auto;
    position: relative;
}

#login,
#signup {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--header-color);
    color: var(--seaweed-background);
    border-radius: 5px;
    box-shadow: 4px 4px 8px var(--header-color);
}

#login-link,
#signup-link {
    position: absolute;
    left: 15px;
    bottom: 10px;
}

#login-link:hover,
#signup-link:hover {
    font-weight: bold;
    cursor: pointer;
    left: 14px;
}

#login-error,
#signup-error {
    color: red;
    font: monospace;
    font-size: 12px;
}

.page-subheader {
    background-color: var(--header-color);
}

.page-subheader > h1 {
    width: fit-content;
    padding: 10px 20px;
    margin: 0px 20px 20px 20px;
    background-color: var(--light-gray-background);
    border-radius: 5px;
    white-space: pre-wrap;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#add-blog {
    width: 60%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--seaweed-background);
}

#add-blog-button {
    height: 50px;
    width: 200px;
    padding: 15px;
    margin: 5px;
    background: var(--header-color);
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
}

#add-blog-button:hover {
    background: var(--faded-header-color);
    cursor: pointer;
}

#add-blog-button:active {
    box-shadow: inset 2px 2px 4px white,
                inset -2px -2px 4px white;
}

.new-form {
    display: none;
    width: 90%;
    padding: 10px;
}

/* Form CSS */
#new-blog-form,
#new-comment-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#new-blog-form div,
#new-comment-form div {
    width: 100%;
}

#blog-title,
#blog-content,
#comment-title,
#comment-content {
    width: 100%;
    flex-grow: 1;
}

#bloglist {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background: var(--seaweed-background);
}

.blogpost {
    width: 80%;
    margin: 20px;
    border: 2px solid var(--header-color);
    border-radius: 5px;
    box-shadow: 4px 4px 8px var(--header-color);
    transition: all .5s ease-out;
    position: relative;
    background: var(--light-gray-background);
}

.blogpost:first-child::before {
    content: '✨ Newest Post!';
    color: purple;
    font-weight: bold;
    position: absolute;
    right: 0px;
    top: -25px;
}

.blogheader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: var(--header-color);
    color: var(--seaweed-background);
    cursor: pointer;
}

.blogheader h2 {
    width: fit-content;
    padding: 10px;
    color: white;
}

.blogheader div {
    width: fit-content;
}

.blogheader-date {
    width: fit-content;
    padding: 10px;
    font-style: italic;
    color: white;
}

.commentheader-date {
    width: fit-content;
    padding: 10px;
    font-style: italic;
    color: black;
}

.blogcontent {
    padding: 20px;
    background: var(--light-gray-background);
    color: black;
    font-weight: bolder;
    font-size: 20px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.comment-container {
    margin: 20px;
    padding: 15px 15px;
    background: var(--header-color);
    color: var(--seaweed-background);
    border: 2px solid white;
    border-radius: 4px;
    box-shadow: 4px 4px 8px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.comment-menu {
    padding: 2px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 2px;
    text-align: right;
    background: white;
    border-bottom: 1px solid black;
}

.comment-container label {
    color: white;
}

.nocomment {
    text-align: center;
    color: white;
}

.noblog {
    text-align: center;
    color: black;
}

.comment {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid white;
    box-shadow: 4px 4px 7px black;
}

#comment-banner {
    margin: 0px 10px 0px auto;
    width: fit-content;
    height: 35px;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: white;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.comment-header h2 {
    width: 70%;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
    display: flex;
}

.comment-body {
    padding: 5px;
    background: white;
    color: var(--header-color);
}

.delete-comment-button,
.edit-comment-button,
.delete-blog-button,
.edit-blog-button {
    cursor: pointer;
}

.add-comment-button,
.submit-comment-button,
.login-button,
.signup-button {
    height: 25px;
    width: 100px;
    margin-top: 10px;
    background: var(--seaweed-background);
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    white-space: nowrap;
    transition: all .1s ease-out;
}

.add-comment-button:hover,
.submit-comment-button:hover,
.login-button:hover,
.signup-button:hover {
    background: var(--faded-header-color);
    color: var(--seaweed-background);
    border: 2px solid var(--seaweed-background);
    font-weight: bold;
    cursor: pointer;
}

.add-comment-button:active,
.add-submit-button:active,
.login-button:active {
    box-shadow: inset 2px 2px 4px white,
                inset -2px -2px 4px white;
}

footer {
    width: 100%;
    height: 10vh;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* util classes */

.edit-content {
    width: 100%;
}

.edit {
    background: green;
    color: white;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.cursor {
    cursor: pointer;
}

.green-update {
    height: 25px;
    width: fit-content;
    margin-left: 10px;
    padding-top: 2px;
    color: white;
    background: green;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.green-update:hover {
    transform: scale(1.05);
    color: rgb(1, 221, 1);
}

/* media css */

@media (width < 800px){
    .blogpost {
        width: 95%;
    }

    .page-subheader h1 {
        width: 90%;
        padding: 3px;
        margin: 10px auto 20px auto;
        text-align: center;
    }

    header {
        justify-content: center;
    }

    .comment-header {
        flex-direction: column;
    }

    .comment-header h2 {
        width: 100%;
    }

    .comment-menu {
        width: 100%;
        justify-content: flex-end;
    }

    #nav-menu li {
        font-size: 16px;
        width: fit-content;
        margin: 5px;
    }
}