<div class="page-subheader">
    <h1>The Tech Blog</h1>
</div>

<ul id="bloglist">
    {{#each allBlogs}}
        <li class="blogpost">
            <div class="blogheader">
                <h2>{{this.title}}</h2>
                <div>Posted by {{this.User.username}} on {{this.formattedDate}}</div>
            </div>
            <div class="blogcontent">
            {{this.content}}
            </div>
        </li>
    {{/each}}
</ul>