<div class="page-subheader">
    <h1>The Tech Blog</h1>
</div>
<div class="content">
    <form id="login">
        <input type="text" id="username" placeholder="username">
        <input type="password" id="password" >
        <button>Click to Login</button>
    </form>
    <br><br>OR<br><br>
    Create an account!
    <form id="signup">
        <input type="text" id="signupUsername" placeholder="username">
        <input type="password" id="signupPassword" >
        <button>Click to Create an Account!</button>
    </form>
</div>


<script src="./js/login.js"></script>